.header{
    display: flex;
    padding: 25px;
    padding-left: 400px;
    padding-right: 400px;
    background-color: #1F2937;
}

.header div {
    flex: 1;
}

.logo{
    font-size: 24px;
    font-family: Roboto;
    font-weight: bold;
    color: #F9FAF8;
}

.nav-container{
    display: flex;

}

.nav-container div{
    display: flex;
    justify-content: end;
    font-size: 18px;
    font-family: Roboto;
    color: #E5E7EB;
}

body{

}

.hero-section{
    justify-content: center;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 400px;
    padding-right: 400px;
    background-color: #1F2937;
    gap: 50px;
}

.hero-section div{
    flex: 1;
}

.hero-image{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    font-size: 18px;
    font-family: Roboto;
    color: #E5E7EB;
}

.services-section{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 400px;
    padding-right: 400px;
}

.services-list{
    justify-content: center;
    gap: 30px;
    display: flex;
    
}

.services-list .item{
    flex: 1;
    
}

.service-image{
    padding: 50px;
    border: solid #3882F6;
    border-radius: 5px;
}

h1{
    font-size: 48px;
    font-weight: extra-bold;
    font-family: Roboto;
    color: #F9FAF8;
    margin-bottom: -10px;
}

h2{
    font-size: 36px;
    font-weight: extra-bold;
    font-family: Roboto;
    padding-bottom: 35px;
    color: #1F2937;
}

p{
    font-size: 18px;
    font-family: Roboto;
    color: #E5E7EB;
}

p.sub{
    font-size: 18px;
    font-family: Roboto;
    color: #7a7a7a;
}

button{
    border: none;
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
    background-color: #3882F6;
    color: #E5E7EB;
}